<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet prefetch' href='./css/Bootstrap.css'>
    <link rel='stylesheet prefetch' href='./css/font_aw.css'>

    <title>Editor</title>

    <style>
        @font-face {
            font-family: myfont;
            src: url(./font/Estedad.ttf);
        }

        *{
            font-family: myfont;
        }

        .ta-editor {
            min-height: 300px;
            height: auto;
            overflow: auto;
            font-family: inherit;
            font-size: 100%;
        }
    </style>

</head>

<body>

    <div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container app">

        <h3 style="font-family: myfont;  text-align: right;">ادیتور من</h3>
        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>

        <h3 style="font-family: myfont;  text-align: right;">مشاهده کد اچ تی ام ال</h3>
        <textarea ng-model="htmlcontent" style="width: 100% ; "></textarea>

        <h3 style="font-family: myfont;  text-align: right;">مشاهده خروجی کد</h3>
        <div ng-bind-html="htmlcontent"></div>

    </div>


    <script src='./js/AngularJS-1 .js'></script>
    <script src='./js/AngularJS-2.js'></script>
    <script src='./js/AngularJS-3.js'></script>
    <script src="./js/font_aw.js"></script>



    <script id="rendered-js">
        angular.module("textAngularTest", ['textAngular']);
        function wysiwygeditor($scope) {
            $scope.orightml = '<blockquote><div align="center"><h3><b>سلام من امیرم و دوست دارم با این ادیتور آشنا بشی</b></h3><div>من عاشق برنامه نویسی هستم و پایین لینک سایتم رو براتون به نمایش میزارم<br><br><a href="https://amir-hasanpour.ir/">سایت من<br></a></div></div><div align="center"><b><br></b></div></blockquote>';
            $scope.htmlcontent = $scope.orightml;
            $scope.disabled = false;
        };
    //# sourceURL=pen.js
    </script>



</body>

</html>